{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span>
              Job Seeker
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Jobs</a>
              </li>

            </ul>
            <div class="user_option">
              <a class="nav-link" href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <form class="form-inline">
                <button class="btn   nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <h1>
                Get Your <br>
                Desired Job
              </h1>
              <p>
                Mollitia quo iure culpa esse molestias velit repellendus ad?
              </p>
            </div>
            <div class="find_container ">
              <form method="GET" action="/find_job">

                <div class="form-row ">
                  <div class="form-group col-lg-4">
                    <input type="text" class="form-control" id="inputPatientName" name="query" placeholder="Keywords">
                  </div>
                  <div class="form-group col-lg-4">
                     <input type="text" class="form-control" id="inputplace" name="query1" placeholder="Keywords">
                  </div>

                </div>
                <div class="btn-box">
                  <button type="submit" class="btn ">Submit Now</button>
                </div>
              </form>

            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/slider-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- job section -->
  <section class="job_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>

          Your Searched Job - {{job.0.work_type}}

        </h2>
      </div>
      <div class="job_container">
        <div class="job_tabs-box" id="myTab" role="tablist">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active " id="jb-1-tab" data-toggle="tab" href="#jb-1" role="tab" aria-controls="jb-1" aria-selected="true"> All </a>
            </li>

          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="job_board tab-pane fade show active" id="jb-1" role="tabpanel" aria-labelledby="jb-1-tab">
              {% if not job %}
			<div class="text-center"><img src=""><h3 class="">Please check the spelling or try searching for something else</h3></div>
			{% endif %}
             {% for sj in job %}
            <div class="box">

              <div class="job_content-box">

                <div class="img-box">
                  <img src="images/job_logo3.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{sj.work_type }}
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        {{sj.person_name}}
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                       {{sj.pay_for_work}}
                      </span>
                    </h6>
                  </div>
                </div>
              </div>

              <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="/single_booked/{{sj.id}}" class="apply-btn">
                  Apply Now
                </a>
              </div>

            </div>
            {% endfor %}

          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- end job section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What says our Clients
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Zen Court
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client3.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Zen Court
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>
            Jobs
          </h4>
          <p>
            Established fact that a reader will be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
        <div class="col-md-4">
          <div class="info_logo_box">
            <a href="">
              Entory
            </a>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </div>
          <div class="social_container">
            <div>
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_form">
            <h4>
              Newsletter
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
{% block js %}

{% endblock %}

{% endblock body %}