{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<style>
  .bookmark-btn {
    display: inline-block;
    background-color: #008CBA; /* Blue color */
    color: white;
    padding: 10px 12px; /* Adjust padding to reduce button size horizontally */
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px; /* Adjust font-size to reduce button text size */
    margin-top: 10px;
  }
  
  .bookmark-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  

</style>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span>
              Job Seeker
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" >About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bookmarked_jobs' %}">Bookmarked</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
              </li>
              <li class="nav-item">
              <button type="button" class="btn btn-secondary" id="el" data-container="body"  data-html="true" data-toggle="popover" data-placement="bottom" data-content='
		<div class="col" style="justify-content: center;">
{% for i in worker %}
{% if i.action == "Accept" %}


<h6>{{i.b_Owner}}</h6>

<h6>{{i.b_work}}</h6>
<h6>{{i.action}}</h6>



  <form id="post-form" method="POST" action="/room/checkview">
        {% csrf_token %}

        <input type="hidden" name="room_name" id="room_name"  value="{{i.id}}" width="100px" />

        <input type="hidden" name="username" id="username" value="{{request.user}}"  width="100px" />
        <input type="submit" class="form-inline" value="Chat">
    </form>
{% endif %}
{% endfor %}

		</div>
'>
  Response
</button>
                </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'signup_worker' %}">Sign-up As Worker</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign-up As Job Provider </a>
              </li>
              {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <div class="user_option">
              <a class="nav-link" href="/worker_profile/{{request.user.id}}">
                <i class="fa fa-user" aria-hidden="true">   {{request.user}}</i>
              </a>

            </div>
             {% endif %}
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <h1>
                Get Your <br>
                Desired Job
              </h1>
              <p>
                || Get Your Best||
              </p>
            </div>
            <div class="find_container ">
              <form method="GET" action="/find_job">

                <div class="form-row ">
                  <div class="form-group col-lg-4">
                    <input type="text" class="form-control" id="inputPatientName" name="query" placeholder="Keywords">
                  </div>
                  <div class="form-group col-lg-4">
                     <input type="text" class="form-control" id="inputplace" name="query1" placeholder="Keywords">
                  </div>

                </div>
                <div class="btn-box">
                  <button type="submit" class="btn ">Submit Now</button>
                </div>
              </form>

            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/slider-img.png' %} " alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- category section -->
  <section class="category_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Choose From Categories
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="box">
            <div class="img-box" >
              <img src=" {% static 'images/c1.png' %} "   alt="">
            </div>
            <div class="detail-box">
              <h5>
                Web Design
              </h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box">
            <div class="img-box">
              <img src="{% static 'images/c2.png' %} " alt="">
            </div>
            <div class="detail-box">
              <h5>
                Web Development
              </h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box">
            <div class="img-box">
              <img src=" {% static 'images/c3.png' %} " alt="">
            </div>
            <div class="detail-box">
              <h5>
                Graphic Design
              </h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box">
            <div class="img-box">
              <img src=" {% static 'images/c4.png' %} " alt="">
            </div>
            <div class="detail-box">
              <h5>
                Seo marketing
              </h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box">
            <div class="img-box">
              <img src=" {% static 'images/c5.png' %} " alt="">
            </div>
            <div class="detail-box">
              <h5>
                Accounting
              </h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="box">
            <div class="img-box">
              <img src="{% static 'images/c6.png' %} " alt="">
            </div>
            <div class="detail-box">
              <h5>
                Content Writing
              </h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end category section -->

  <!-- about section -->

  <section class="about_section"   style="display: none;">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container heading_center">
          <h2>
            About Us
          </h2>
        </div>
        <p>
          Normal distribution of letters, as opposed to using 'Content here, content here', making it look like
          readable English. Many desktop publishing packages and web page editors has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. Many desktop publishing packages and web page editors
        </p>
      </div>
      <div class="col-md-9 mx-auto px-0">
        <div class="img-box">
          <img src=" {% static 'images/about-img.png' %} " alt="">
        </div>
        <div class="btn-box">
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- job section -->
  <section class="job_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest Jobs
        </h2>
      </div>
      <div class="job_container">
        <div class="job_tabs-box" id="myTab" role="tablist">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active " id="jb-1-tab" data-toggle="tab" href="#jb-1" role="tab" aria-controls="jb-1" aria-selected="true"> All </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="jb-2-tab" data-toggle="tab" href="#jb-2" role="tab" aria-controls="jb-2" aria-selected="false">Part time</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " id="jb-3-tab" data-toggle="tab" href="#jb-3" role="tab" aria-controls="jb-3" aria-selected="false"> Full Time</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="jb-4-tab" data-toggle="tab" href="#jb-4" role="tab" aria-controls="jb-4" aria-selected="false">Contract</a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="job_board tab-pane fade show active" id="jb-1" role="tabpanel" aria-labelledby="jb-1-tab">
             {% for aw in all_wo %}
            <div class="box">

              <div class="job_content-box">

                <div class="img-box">
                  <img src="{% static 'images/job_logo3.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{aw.work_type }}
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        {{aw.person_name}}
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                       {{aw.pay_for_work}}
                      </span>
                    </h6>
                  </div>
                  </div>
                </div>

              <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="/single_booked/{{aw.id}}" class="apply-btn">
                  Apply Now
                </a>
                
                <button class="fav-btn">
                  <i class="" aria-hidden="true"></i>
                </button>
                {% if request.user.is_authenticated %}
                <a href="/add_bookmark/{{aw.id}}" class="apply-btn">
                  Add to Bookmark
                </a>
              {% endif %}


            </div>
            {% comment %} {% for job in jobs %}
            <!-- Your other HTML code here -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'add_bookmark' job.id %}">Add to Bookmark</a>
            {% endif %}
        {% endfor %} {% endcomment %}
        
            </div>
            {% endfor %}

          </div>

          <div class="job_board tab-pane fade" id="jb-2" role="tabpanel" aria-labelledby="jb-2-tab">
             {% for aw in all_wo %}
            {% if aw.work_type == 'Part Time'%}
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src=" {% static 'images/job_logo1.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                   {{aw.work_type }}
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                      {{aw.person_name}}
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                          {{aw.pay_for_work}}
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="/single_booked/{{aw.id}}" class="apply-btn">
                  Apply Now
                </a>
                <button class="fav-btn">
                  <i class="" aria-hidden="true"></i>
                </button>
                {% if request.user.is_authenticated %}
                <a href="/add_bookmark/{{aw.id}}" class="apply-btn">
                  Add to Bookmark
                </a>
              {% endif %}
                
              </div>
            </div>

            {% endif %}
            {% endfor %}
          </div>
          <div class="job_board tab-pane fade" id="jb-3" role="tabpanel" aria-labelledby="jb-3-tab">
             {% for aw in all_wo %}
            {% if aw.work_type == 'Full Time'%}
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="{% static 'images/job_logo6.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{aw.work_type }}
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        {{aw.person_name}}
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        {{aw.pay_for_work}}
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="/single_booked/{{aw.id}}" class="apply-btn">
                  Apply Now
                </a>
                <button class="fav-btn">
                  <i class="" aria-hidden="true"></i>
                </button>
                {% if request.user.is_authenticated %}
                <a href="/add_bookmark/{{aw.id}}" class="bookmark-btn">
                  Add to Bookmark
                </a>
              {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}

          </div>
            <div class="job_board tab-pane fade" id="jb-4" role="tabpanel" aria-labelledby="jb-3-tab">
             {% for aw in all_wo %}
            {% if aw.work_type == 'Contract'%}
            <div class="box">
              <div class="job_content-box">
                <div class="img-box">
                  <img src="{% static 'images/job_logo6.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{aw.work_type }}
                  </h5>
                  <div class="detail-info">
                    <h6>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        {{aw.person_name}}
                      </span>
                    </h6>
                    <h6>
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span>
                        {{aw.pay_for_work}}
                      </span>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="option-box">
                <button class="fav-btn">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
                <a href="/single_booked/{{aw.id}}" class="apply-btn">
                  Apply Now
                </a>
                <button class="fav-btn">
                  <i class="" aria-hidden="true"></i>
                </button>
                {% if request.user.is_authenticated %}
                <a href="/add_bookmark/{{aw.id}}" class="apply-btn">
                  Add to Bookmark
                </a>
              {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}

          </div>


        </div>

      </div>
      <div class="btn-box">
        <a href="">
          View All
        </a>
      </div>
    </div>
  </section>
  <!-- end job section -->

  <!-- client section -->

  
  <section class="client_section layout_padding-bottom">
    <div class="container-fluid">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>What says our Clients</h2>
        </div>
        <div class="carousel-wrap">
            <div class="owl-carousel client_owl-carousel">
                {% for testimonial in testimonials %}
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>{{ testimonial.name }}</h6>
                                    <p>{{ testimonial.company }}</p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>{{ testimonial.testimonial_text }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

  <!-- end client section -->



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>
            Jobs
          </h4>
          <p>
            Established fact that a reader will be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
        <div class="col-md-4">
          <div class="info_logo_box">
            <a href="">
              Job Seeker
            </a>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </div>
          <div class="social_container">
            <div>
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <div>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_form">
            <h4>
              Newsletter
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->

  

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
{% block js %}
<script>
  $('#el').popover();


</script>
{% endblock %}
 

{% endblock body %}