{% extends 'base.html' %}
{% block title%} OWNER REGISTER {% endblock %}
{% block body %}
     {% load static %}
{% load crispy_forms_tags %}
{% block css %}
{% load crispy_forms_tags %}

<style>

@font-face {
    font-family: 'stormextrabold';
    src: url('../fonts/storeb__-webfont.woff2') format('woff2'),
         url('../fonts/storeb__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.signup_form button{
	color: #fff;
	background-color: #48D1CC;
	border:1px solid #48D1CC;
	border-radius: 3px;
	color: #f4f4f4;
	height: 40px;
	width: 80px;
	font-size: 17px;
}
.subtitle
{
	color: #231f20;
	border-bottom: 1px solid #231f20;
	text-align: left;
}
h2{
	margin: 0;
	padding: 0;
	font-family: Parkavenue;
	color: #231f20;
	letter-spacing: 1px;
}

.signup_form button:hover{
	background-color: #48D1CC;
	border:1px solid #48D1CC;
	color: #ffffff;
}

.signup_form small{
	float: right;
	margin-top: 15px;
	color: #231f20;
}

.signup_form small a{
	color: #be2714;
}

</style>
{% endblock %}
    <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>


            </ol>
          </nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show">{{ message }}</div>
{% endfor %}
{% endif %}
<h5 style="text-align:center" >SIGN-UP FOR WORK PROVIDER</h5>
<div class="container">
<div class="col-md-10 mt-4" style="border-style:groove;">
<form method="POST" class="signup_form mr-2 ml-2">
  {% csrf_token %}
  <fieldset>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.first_name | as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.last_name | as_crispy_field }}
      </div>
    </div>
    {{ form.username| as_crispy_field }}
    <p id="error_1_id_username" class="invalid-feedback" style="display: inline-block;"><strong id="usrerr"></strong>
    </p>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{form.password1 | as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.password2 | as_crispy_field }}
      </div>
    </div>
  </fieldset>
  <section class="mt-4 mr-1 ml-1">
    <button type="submit" id="disbtn1">Sign Up</button>
    <small>Already Registered? &nbsp;<a href="{% url 'login' %}">Log In</a></small>
  </section>
  <div class="subtitle pt-2 mt-1"></div>
</form>
</div>
  </div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
  function ValidateEmail(mail) {
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    // if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(myForm.emailAddr.value))
    if (mail.match(mailformat)) {
      document.getElementById('usrerr').innerText = "";
      document.getElementById('disbtn1').disabled = false;

      return (true)
    }
    document.getElementById('usrerr').innerText = "You have entered an invalid email address!"
    document.getElementById('disbtn1').disabled = true;

    return (false)
  }

  function validate() {
    var data = document.getElementById("id_username").value;
    checkNumberorEmail();

  }
  function phonenumber(inputtxt) {
    var phoneno = /^\d{10}$/;
    if ((inputtxt.match(phoneno))) {
      document.getElementById('usrerr').innerText = "";
      document.getElementById('disbtn1').disabled = false;
      return true;
    }
    else {
      document.getElementById('usrerr').innerText = "enter 10 digit number";
      document.getElementById('disbtn1').disabled = true;

      return false;
    }
  }


  function checkNumberorEmail() {
    var data = document.getElementById("id_username").value;
    if (isNaN(data)) {
      ValidateEmail(data);

    }
    else {
      phonenumber(data);
    }
  }
</script>
{% endblock %}
